{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="p-5 container col-4 allauth-forms">
    <div class="row text-center">
        <h1>{% trans "Sign In" %}</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <hr class="col-4  mb-5 allauth-forms-title-seperator">
    </div>

    <div class="row d-flex justify-content-center">
        <form class="login " method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_login">{% trans "Username:" %}</label>
                <input type="text" name="login" id="id_login" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_password">{% trans "Password:" %}</label>
                <input type="password" name="password" id="id_password" class="form-control" required>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <div class="d-flex justify-content-center form-group">
                <button class="my-4 btn btn-light btn-lg" type="submit">
                    <strong>{% trans "Sign In" %}</strong>
                </button>
            </div>
        </form>
    </div>
    <div class="row text-center justify-content-center">
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a class="text-white" href="{{ signup_url }}"><strong>sign up</strong></a> first.{% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}