{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- signup title -->
<div class="p-5 container col-lg-4 col-md-6 col-8 allauth-forms">
    <div class="row text-center">
        <h1>{% trans "Sign Up" %}</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <hr class="col-4  mb-5 allauth-forms-title-seperator">
    </div>
    <!--sign-up form  -->
    <div class="row d-flex justify-content-center">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group my-4">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                <div class="form-control">
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group my-4">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <div class="form-control">
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group my-4">
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                <div class="form-control">
                    {{ form.password1 }}
                    {% for error in form.password1.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group my-4">
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                <div class="form-control">
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-center form-group">
                <button type="submit" class="my-4 btn btn-light btn-lg"><strong>{% trans "Sign Up" %}</strong></button>
            </div>
        </form>
    </div>
    <!--sign-in link  -->
    <div class="row text-center justify-content-center">
        <p>{% blocktrans %}Already have an account? Then please <a class="text-white"
                href="{{ login_url }}"><strong>sign in</strong></a>.{% endblocktrans %}
        </p>
    </div>
</div>


{% endblock %}