@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Open+Sans&display=swap');

:root {
    --primary-green: #006630;
    --accent-blue: #295899;
    --primary-white: #ffffff;
    --error-list-background: #f8d7da;

}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h1,
h2 {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

#nav-wrapper {
    margin: 0 0;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-white);
}

.navbar {
    background-color: var(--primary-green);
    padding-top: 0;
    padding-bottom: 0;
    color: var(--primary-white);
}

.offcanvas {
    background-color: var(--primary-green);
    color: var(--primary-white);
    width: 100%;
}

.offcanvas-header {
    padding: 0 0;
}

.nav-item {
    display: flex;
    align-items: center;
    color: var(--primary-white);
}

.logo {
    height: 10rem;
    background-color: var(--primary-white);
}

#nav-bar-lg {
    display: none;
}

#hamburger-menu-button {
    border: none;
}

.wrapper {
    margin-top: 10rem;
}

.messages {
    right: 2rem;
}

.errorlist {
    color: black;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    border-radius: 1rem;
    list-style: none;
    padding: 1rem;
}

#hero-background {
    height: 88vh;
    background-image: url(../media/hero-image-hp.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#faded-box-wrapper {
    position: absolute;
    top: 50%;
}

#faded-box {
    background-color: var(--primary-green);
    opacity: .9;
}

.btn-lg {
    font-size: 1.5rem;
}

.fa-beat {
    -webkit-animation-duration: var(--fa-animation-duration, 2s) !important;
    animation-duration: var(--fa-animation-duration, 2s) !important;
}

.why-join-us-icons {
    font-size: 6rem;
    color: var(--primary-green);
}

.title-seperator {
    border: solid 1px var(--primary-green);
}

.extra-margin {
    margin-left: 4rem;
    margin-right: 4rem;
}

.card-title {
    background-color: var(--primary-green);
    color: var(--primary-white);
}

.card-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
}

.footer {
    background-color: var(--primary-green);
}

#social-list {
    margin-bottom: 0;
}

@media (min-width: 992px) {

    #hero-background {
        height: 75vh;
    }

    #nav-bar-lg {
        display: flex;
    }

    .offcanvas {
        display: none;
    }

    .btn-lg {
        font-size: 2rem;
    }
}


@media (min-width: 1024px) {

    #hero-background {
        height: 50vh;
    }



}