@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Open+Sans&display=swap');

:root {
    --primary-green: #006630;
    --accent-blue: #295899;
    --primary-white: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

.navbar {
    background-color: var(--primary-green);
}

.nav-item {
    display: flex;
    align-items: center;
    color: var(--primary-white)
}