@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Open+Sans&display=swap');

:root {
    --primary-green: #006630;
    --accent-blue: #295899;
    --primary-white: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h1,
h2 {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

.navbar {
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--primary-white)
}

.logo {
    height: 10rem;
    background-color: var(--primary-white);
}

#hero-background {
    height: 88vh;
    background-image: url(../media/hero-image-hp.jpeg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 992px) {

    #hero-background {
        height: 75vh;
    }

}


@media (min-width: 1024px) {

    #hero-background {
        height: 50vh;
    }

}