{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h1>Confirmation of Successful Booking</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <hr class="col-4  mb-5 title-seperator">
    </div>
    <div class="row text-center">
        <h3>{{user}} your booking <strong>#{{booking_id}}</strong> was succesfully processed we look forward to seeing
            you!</h3>
        <p>If you wish to make another booking click the booking below</p>
    </div>
    <div class="row d-flex justify-content-center">
        <a href="{% url 'tee_time_booking' %}" class=" mt-2 col-lg-1 col-2 btn btn-primary">Book Now</a>
    </div>

</div>

{% endblock %}