{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <form class="col-6" method="POST" action="{% url 'booking_submit' %}">
        {% csrf_token %}
        <label>Date & Time:</label>
        <input type="text" name="date & time" value="{{ teetime.tee_datetime }}" readonly>
        <label>Number of Players:</label>
        <input type="number" name="players" value="{{ request.GET.players }}" readonly>
        <label>Buggy Required:</label>
        <input type="checkbox" name="buggy" value="Yes">

        <button type="submit">Confirm Booking</button>
    </form>
</div>
{% endblock %}