{% extends "base.html" %}

{% block content %}

<!-- Section with image -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="path_to_your_image.jpg" class="img-fluid" alt="Image">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                {% if user.is_authenticated %}
                <a href="{% url 'tee_time_booking' %}" class="btn btn-primary">Book Now</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-primary">Sign In to Book</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-icon1"></i>
                <h5>Icon 1</h5>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-icon2"></i>
                <h5>Icon 2</h5>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-icon3"></i>
                <h5>Icon 3</h5>
            </div>
        </div>
    </div>
</section>

{%endblock%}