{% extends "base.html" %} {% block content %}
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this booking?</p>
                <form method="POST" action="{% url 'delete_booking' %}">
                    {% csrf_token %}
                    <input type="hidden" id="bookingIdInput" name="booking_id" value="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        aria-label="Close">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container top-margin">
    <div class="row text-center">
        <h1>Manage Bookings</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <hr class="col-4 col-lg-2 mb-5 title-seperator">
    </div>
    <div class="row justify-content-center">
        <div class="col-10 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>User Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Number of Players</th>
                        <th>Buggy Included</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.user_name }}</td>
                        <td>{{ booking.booking_datetime.tee_datetime|date:"Y-m-d" }}</td>
                        <td>{{ booking.booking_datetime.tee_datetime|time:"H:i" }}</td>
                        <td>{{ booking.players }}</td>
                        <td>{% if booking.buggy %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" onclick="setBookingId({{ booking.id }})">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No bookings found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-10">
            <ul class="pagination justify-content-center">


                {% for num in bookings.paginator.page_range %}
                {% if num == bookings.number %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ num }}{% if filter_type == 'past' %}&filter_type=past{% endif %}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if bookings.has_next %}
                <li class="page-item"><a class="page-link"
                        href="?page={{ bookings.next_page_number }}{% if filter_type == 'past' %}&filter_type=past{% endif %}">Next</a>
                </li>
                <li class="page-item"><a class="page-link"
                        href="?page={{ bookings.paginator.num_pages }}{% if filter_type == 'past' %}&filter_type=past{% endif %}">Last</a>
                </li>
                {% endif %}

                {% if bookings.has_previous %}
                <li class="page-item"><a class="page-link"
                        href="?page=1{% if filter_type == 'past' %}&filter_type=past{% endif %}">First</a></li>
                <li class="page-item"><a class="page-link"
                        href="?page={{ bookings.previous_page_number }}{% if filter_type == 'past' %}&filter_type=past{% endif %}">Previous</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{%endblock%}