{% extends "base.html" %} {% block content %}

<!-- Alerts -->
{% if messages %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>

            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this booking?</p>
                <form method="POST" action="{% url 'delete_booking' %}">
                    {% csrf_token %}
                    <input type="hidden" id="bookingIdInput" name="booking_id" value="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>User Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Number of Players</th>
                        <th>Buggy Included</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.id }}</td>
                        <td>{{ booking.user_name }}</td>
                        <td>{{ booking.booking_datetime.tee_datetime|date:"Y-m-d" }}</td>
                        <td>{{ booking.booking_datetime.tee_datetime|time:"H:i" }}</td>
                        <td>{{ booking.players }}</td>
                        <td>{% if booking.buggy %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" onclick="setBookingId({{ booking.id }})">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No bookings found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}