{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>{{ user.username }}</h1>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="filter_type" value="past"
            class="{% if filter_type == 'past' %}active{% endif %}">Show Past Bookings</button>
        <button type="submit" name="filter_type" value="upcoming"
            class="{% if filter_type == 'upcoming' %}active{% endif %}">Show Upcoming Bookings</button>
    </form>

    {% if bookings %}
    <h2>{{ title }}</h2>
    <ul>
        {% for booking in bookings %}

        {% if filter_type == 'upcoming' %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ booking.booking_datetime.tee_datetime }}</h5>
                <p>Players: {{ booking.players }}</p>
                <p>Buggy: {% if booking.buggy %}Yes{% else %}No{% endif %}</p>
                <a href=# class="btn btn-primary">Update</a>
                <a href=# class="btn btn-primary">Cancel</a>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ booking.booking_datetime.tee_datetime }}</h5>
                <p>Players: {{ booking.players }}</p>
                <p>Buggy: {% if booking.buggy %}Yes{% else %}No{% endif %}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <h2>{{ title }}</h2>
    <p>No bookings. Click Here to Create A Booking.</p>
    {% endif %}
</div>
{%endblock%}